a.button {
    display: inline-block;
    padding: 3px 10px;
    margin: 1px;
    background-color: #1E90FF;
    color: white !important;
    text-decoration: none;
    border-radius: 4px;
}

a.button:hover {
    background-color: #104E8B;
}
